.side-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

@media screen and (min-width: 801px) {
    .side-menu {
        display: none;
    }
}
