@use '../../variables';
@use '../../breakpoints';


.header {
    display: flex;
    height: 65px;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    flex: 0 0 0 auto;

    .inner {
        height: 65px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1040px;
        padding: 0rem 0.5rem;
        flex: 0 0 auto;
        margin-left: auto;
        margin-right: auto;

        .cta-btn {
            display: none !important;
        }
    }
}

.main-logo {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-logo {
    height: 100%;
    width: 8rem;
}

.big-nav {
    height: 100%;
    display: none;
    flex-direction: row;
    background-color: #fff;
    
    button {
        color: variables.$medium-blue;
        font-family: inherit !important;
        font-size: 1.1rem;
        letter-spacing: 0.005rem;
        font-weight: 500;
        padding-right: 0.45rem;
        padding-left: 0.45rem;
    }

    a {
        display: flex;
        align-items: center;
        padding-right: 4px;
        padding-left: 4px;
        color: variables.$medium-blue;
        text-decoration: none;
        font-size: 1.1rem;
        letter-spacing: 0.005rem;
        font-weight: 500;
        &:hover {
            text-decoration: none;
        }
    }
}

.small-nav {
    fill: variables.$medium-blue;
    display: flex !important;
    width: 32px !important;
    margin-right: 16px;
}

.close-btn {
    fill: variables.$medium-blue;
    margin: 1rem;
    width: 22px;
    height: 22px;
}

.phone-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 20px;

    li {
        display: flex;

        button {
            color: variables.$medium-blue;
            font-family: inherit !important;
            font-size: 1.2rem;
            letter-spacing: 0.009rem;
        }

        a {
            padding-top: 1rem;
            padding-left: 1.2rem;
            display: flex;
            width: 100%;
            text-decoration: none;
            font-size: 1.2rem;
            letter-spacing: 0.009rem;
            color: variables.$medium-blue;
        }
    }
}

@include breakpoints.respond-to(small) {
    .big-nav {
        display: flex;
    }

    .small-nav {
        display: none !important;
    }

    .header {
        .inner {
            .cta-btn {
                display: block !important;
            }
        }
    }
}

@include breakpoints.respond-to(medium) {
    .big-nav {
        button {
            padding-right: 0.95rem;
            padding-left: 0.95rem;
        }
    }
}