@use '../../../../variables';
@use '../../../../breakpoints';

.actionsection {
    display: flex;
    width: 100%;
    background-color: variables.$medium-blue;

    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 1040px;
        padding: 1.2rem 0.5rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

@include breakpoints.respond-to(small) {
    .actionsection {
        .inner {
            align-items: start;
            flex-direction: row;
        }
    }
}