@use '../../../../variables';
@use '../../../../breakpoints';


.verseofthedaysection {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('../../../../../public/assets/sixteen-miles-out-MLOZazGGCb8-unsplash-bg.webp');
    background-position: cover;
    background-color: variables.$medium-blue;
    color: #fff;
    text-align: left;
    padding: 6rem 0.5rem;

    a {
        color: #fff;
    }

    .inner {
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;

        h3 {
            margin: 0;
            font-size: 2.4rem;
            line-height: 3rem;
            font-weight: 500;
            max-width: 640px;
        }

        .verses {
            margin-top: 2rem;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .verse {
                h5 {
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 1rem;
                    margin: 0;
                }

                p {
                    margin: 0;
                    margin-top: 0.4rem;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
            }
        }

        small {
            font-size: 0.8rem;
            opacity: 80%;
        }
    }
}

@include breakpoints.respond-to(small) {
    .verseofthedaysection {
        .inner {
            .verses {
                flex-direction: row;
            }
        }
    }
}