@use '../../../../../variables';
@use '../../../../../breakpoints';

.action {
    display: flex;
    flex-direction: column;
    max-width: 28rem;
    padding: 1.4rem;
    text-decoration: none;
    color: #fff;
    transition-duration: 0.2s;

    .head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .inner {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.7rem;

            .main-icon {
                width: 26px;
                height: 26px;
            }

            h4 {
                margin: 0;
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 2.1rem;
            }
        }

        .arrow-icon {
            width: 22px;
            height: 22px;
        }
    }

    .body {
        font-size: 0.9rem;
    }

    &:hover {
        color: #ffffffc6;
    }
}

@include breakpoints.respond-to(small) {
    .action {
        max-width: 21rem;
    }
}
