---
import Base from '../../layouts/Base.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Page from '../../components/Page.astro';
import MainPageContent from '../../components/MainPageContent.astro';
---

<Base title="Our Challenge - Open English Translation">
    <Header />
    <main class="main">
        <Page>
            <MainPageContent>
                <h1>Our challenge</h1>
                <p>
                    The <em>OET</em> is currently being drafted and a lot of content,
                    consistency, and format checking is still to come. However, if
                    you find a typo or an inaccuracy, <b
                        >please don't just ignore it</b
                    >. Open an <a
                        href="https://GitHub.com/Freely-Given-org/OpenEnglishTranslation--OET/issues"
                        >issue</a
                    > and type in a description of the problem so we can investigate
                    it. If it's a typo or a simple inconsistency, no need to make
                    any justification for a fix. (Or if you're familiar with Git,
                    go ahead and submit a merge request / PR.)
                </p>
                <p>
                    However, if it's a theological or interpretation issue, the
                    more documentation or support for your suggestion that you
                    can give us in writing up the issue, the better.
                </p>
                <p>
                    Alternatively, you can submit a typo or other error from <a
                        href="/About/Contact">our contact page</a
                    >, and then we'll either create a new issue ourselves on
                    GitHub, or fix it immediately in the source files.
                </p>
                <p>
                    We aim to keep improving the <em>OET</em> to ensure that it's
                    a reliable, quality translation that'll be useful for the next
                    decade. Thanks in advance for your help in doing this.
                </p>
                <p>
                    Please note that all submissions require that you agree that
                    your work becomes our property and a gift to the world (in
                    order to keep licensing simplified and open). Our commitment
                    is to keep the text free and open—see our <a
                        href="/About/Licence">Licence page</a
                    >.
                </p>
            </MainPageContent>
        </Page>
    </main>
    <Footer />
</Base>

<style>
    .main {
        min-height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
