@use '../../variables';
@use '../../breakpoints';

.footer {

    background-color: variables.$blue-black;
    padding: 0.5rem 0.5rem;

    .inner {
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;

        .grid-cols {
            display: grid;
            grid-template-columns: auto;
            column-gap: 5rem;
            row-gap: 3.3rem;
            padding-top: 4rem;
            padding-bottom: 3rem;
            justify-content: center;
            text-align: center;

            .column {
                color: #fff;

                // First column
                .logo {
                    height: 3.4rem;
                    width: auto;
                }
                .description {
                    margin: 0;
                    margin-top: 0.3rem;
                    font-size: 0.9rem;
                    color: #ffffffc9;
                    max-width: 13rem;
                }
                .social-links {
                    margin-top: 1.4rem;
                    margin-bottom: 2rem;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    justify-content: center;

                    .icon {
                        fill: #fff;
                        width: 24px;
                    }
                }

                // The rest
                .section-heading {
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-weight: 700;
                }

                ul {
                    padding-left: 0;
                    list-style: none;
                    margin: 0;
                    margin-top: 0.5rem;

                    li {
                        margin-bottom: 0.4rem;

                        a {
                            color: #fff;
                            text-decoration: none;
                            font-size: 1.1rem;
                            font-weight: 400;
                            transition-duration: 0.3s;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

        }

        .bottom {
            display: flex;
            flex-direction: column;
            color: #ffffffc9;
            border-top: solid #ffffff14 1px;
            text-align: center;
            padding: 1.2rem 0.5rem;

            a {
                color: #ffffffc9;
            }
            
            .copyright {
                font-size: 0.9rem;
            }

            .buildnote {
                font-size: 0.75rem;
            }
        }

    }
}



@include breakpoints.respond-to(small) {
    .footer {
        .inner {
            .grid-cols {
                // justify-content: left;
                text-align: left;
                grid-template-columns: auto auto auto auto;

                .column {
                    .social-links {
                        justify-content: left;
                    }
                }
            }
        }
    }
}