@use '../../../variables';
@use '../../../breakpoints';

.drop-menu {
    position: relative;
    display: flex;
    height: 100%;
}

.menu-name {
    height: 100%;
    background: none;
    border: none;
    padding: 0;
    // font: inherit;
    /* cursor: pointer; */
    outline: inherit;
    display: flex;
    align-items: center;
    padding-right: 8px;
    padding-left: 8px;
    color: variables.$medium-blue;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.009rem;
    z-index: 11;
}

.menu-items {
    padding: 0rem 0rem;
    list-style: none;
    top: 40px;
    position: absolute;
    background-color: #fff;
    min-width: max-content;
    border-radius: 4px;
    overflow: visible;
    z-index: 10;
    right: 0;
    left: auto;

    li {
        overflow: visible;
        width: unset;
        animation: menu-fade 80ms ease-in 0ms 1 normal both;
        a {
            padding: 0.4rem 0.7rem;
            width: unset;
        }
        &:hover {
            background-color: variables.$medium-blue;
            color: #fff;
            text-decoration: none;
            outline: none;
            border-radius: 4px;
            a {
                color: white;
            }
        }
    }
}

@keyframes menu-fade {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.menu-title {
    width: 100%;
    padding: 0 16px;
    cursor: pointer;
}

.triangle {
    margin-right: 0.3rem;
    width: 16px;
    transform: rotate(-90deg);
}

.turn {
    transform: rotate(0deg);
}

.big-triangle {
    margin-right: 0.3rem;
    width: 12px;
    transform: rotate(0deg);
}

.big-turn {
    transform: rotate(-180deg);
}

.phone-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.phone-menu-name {
    background: none;
    border: none;
    padding: 0.7rem 0 0 0;
    outline: inherit;
    color: variables.$medium-blue;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.009rem;
}