@use '../../../../variables';
@use '../../../../breakpoints';

.licensesection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .inner {
        color: variables.$medium-blue;
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 7rem 1rem;
        justify-content: center;

        .feather-icon {
            fill: variables.$medium-blue;
            width: 32px;
            height: 32px;
            margin-bottom: 0.7rem;
        }

        h3 {
            margin: 0;
            font-size: 2.4rem;
            line-height: 3rem;
            font-weight: 500;
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            max-width: 600px;
            margin-top: 0.5rem;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.1rem;
            line-height: 1.7rem;
        }

        blockquote {
            padding: 2rem 1.2rem;
            padding-left: 2.5rem;
            text-align: left;
            background-color: variables.$accent-orange-light;
            font-size: 1.2rem;
            border-left: variables.$medium-blue solid 4px;
        }

    }
}