---
import Base from '../../layouts/Base.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Page from '../../components/Page.astro';
import MainPageContent from '../../components/MainPageContent.astro';
---

<Base title="Downloads - Open English Translation">
    <Header />
    <main class="main">
        <Page>
            <MainPageContent>
                <h1>Downloads</h1>
                <p>
                    We aim to have some initial PDF downloads of draft texts of 'The Messianic Update' (the 'New Testament') texts here by mid-2024. (Oops, still trying to find some typesetting help, sorry.)
                </p>
                <p>
                    The in-progress source files of the <em>OET</em> are <a href='https://github.com/Freely-Given-org/ESFM'>ESFM</a> (enhanced <a href='https://UbsIcap.github.io/usfm/'>USFM</a>) and associated ESFM data tables are <a href='https://en.Wikipedia.org/wiki/Tab-separated_values'>TSV</a>. These can be downloaded from the <a href='https://GitHub.com/Freely-Given-org/OpenEnglishTranslation--OET'>project repository</a>.
                </p>
            </MainPageContent>
        </Page>
    </main>
    <Footer />
</Base>

<style>
    .main {
        min-height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
