.main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.app-floaty {
    animation: MoveUpDown 5s linear infinite;
}

@keyframes MoveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(100px) rotate(180deg);
    }
    100% {
        transform: translateY(0px) rotate(360deg);
    }
}
