.home-page-photo {
    width: 30rem;
}


.banner {
    width: 100%;
    background-color: gray;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blog-feed {
    flex-basis: 65%;
}

.page-sidebar {
    flex-basis: 35%;
    width: 30vw;
}