@use '../../../../variables';
@use '../../../../breakpoints';

.hero {
    display: flex;
    width: 100%;
    background-color: variables.$accent-orange-light;
    max-height: 100%;
}

.hero-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    max-width: 1040px;
    padding: 3rem 0.5rem;
    margin-left: auto;
    margin-right: auto;
    gap: 3rem;

    h1 {
        margin: 0;
        margin-top: 0.4rem;
        font-size: 2.5rem;
        line-height: 3.1rem;
        letter-spacing: -0.006rem;
        font-weight: 600;
        color: variables.$medium-blue;
    }

    .full-name {
        color: variables.$medium-blue;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.5px;
    }

    .buttons {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }

    .image {
        object-fit: contain; 
        height: auto;
        width: 100%;
    }
}


@include breakpoints.respond-to(small) {
    .hero {
        max-height: 24rem;
    }
    .hero-inner {
        flex-direction: row;
        text-align: left;

        .buttons {
            flex-direction: row;
        }
    }

}


