@use '../../../../variables';
@use '../../../../breakpoints';


.whatissection {
    color: variables.$medium-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .inner {
        color: variables.$medium-blue;
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 5rem 1rem;
        justify-content: center;

        .book-icon {
            fill: variables.$medium-blue;
            width: 32px;
            height: 32px;
            margin-bottom: 0.7rem;
        }

        h3 {
            margin: 0;
            font-size: 2.4rem;
            line-height: 3rem;
            font-weight: 500;
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            max-width: 600px;
            margin-top: 0.5rem;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.1rem;
            line-height: 1.7rem;
        }

    }

    .info-cols {
        margin-top: 2rem;
        margin-bottom: 4rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: auto;
        text-wrap: pretty;

        .info {
            font-size: 1.1rem;
            line-height: 1.5rem;
            max-width: 28rem;

            b {
                font-weight: 600;
            }

            a {
                font-weight: 500;
                color: variables.$medium-blue;
                text-decoration-thickness: 2px;
                text-decoration-style: solid; 
                text-decoration-color: variables.$accent-orange; 
                transition-duration: 0.3s;

                &:hover {
                    text-decoration-style: dotted;
                }
            }
        }
    }
}

@include breakpoints.respond-to(small) {
    .whatissection {
        .info-cols {
            grid-template-columns: auto auto;
        }
    }

}